// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "rails_flashes";
@import "homepage";
@import "registrations";
@import "sessions";
@import "passwords";
@import "deals";


body {
  padding-top: 50px;
}

.nav-container {
  padding-right: 15px;
}

.container {
  padding: 0px 20px 0px;
}

.navbar-brand {
  float: none;
}

.btn-dark {
  background-color: #222;
  color: #FFF;
}

.btn-dark:hover {
  color: #FFF;
}
