.deal {
  display: flex;
  flex-direction: row;
  padding: 15px 15px;
  border: 2px solid #F8F8F8;
  border-radius: 30px;
  background: #DCDCDC;
}

.names {
  width: 50%;
}

.price {
  width: 25%;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  max-width: 25%;
  margin: auto 0 auto auto;
}
