.login {
  max-width: 600px;
  padding: 19px 10px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.login .form-signin-heading,
.login .checkbox {
  margin-bottom: 10px;
}
.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.field,
.actions {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  input[type="submit"] {
    max-width: 150px;
    margin-right: auto;
    margin-bottom: 9px;
  }
}

.links {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.remember {
  display: flex;
  flex-direction: row;
}

#user_remember_me {
  margin-right: 5px;
}
