.well
  - if current_user
    = image_tag 'phone1.gif'
    .header
      %h1 Paste url to track!
    .input-group.search
      %input.form-control{type: 'text', placeholder: 'https://www.itaka.pl'}
      %span.input-group-btn
        %button.btn.btn-default{type: 'button', type: 'button'}
          Search!
  - else
    .header
      %h1 Welcome to
      %h1 PRICE MONITOR
      %h1 as a service
    .banner
      = image_tag 'logos1.gif'
    .section
      %h3 Don't waste any of Your precious time for checking price again, let us do it for You!
      .privilege
        %h2 Joining price monitor lets you:
        %ul
          .list-items
            %li
              %h4 track your desired DEAL
            %li
              %h4 receive ALERTS about price change
            %li
              %h4 VISUALIZE price change. Easily and Beautifully.
      %h2 Feel like talking? Contact us!
    .banner
      = image_tag 'cards.png'


