.well
  .row
    .col-xs-6.col-xs-offset-3
      .input-group
        %input.form-control{type: 'text', placeholder: 'www.example.com'}
        %span.input-group-btn
          %button.btn.btn-default{type: 'button', type: 'button'}
            Search!
