.well
  - @deals.each do |deal|
    .deal
      .names
        %h5= deal.name
        %h5= cut_provider_name(deal.provider)
      .price
        %h3= deal.price
      .button
        =link_to 'See more', deal_path(deal), class: 'btn btn-default'

